@{
    ViewData["Title"] = "Home";
    ViewData["Description"] = "Plugin stats tracker home page.";
    ViewData["MetaColor"] = "#FFFFFF";
    ViewData["OtherHeaderLines"] = "";
}

<div class="center_helper">
    <h1>Plugin Stats Tracker Homepage</h1>
    <h2>This is just an empty home page.</h2>
    <p>Click one of the projects listed above for the stats about that plugin, or view the about information in the footer below.</p>
</div>
